<h3>Home</h3>

<br><br><br>

<table class="cat">
	<thead>
		<tr class="category">
			<th>
				&nbsp;Categories&nbsp;
			</th>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</thead>

	<tbody>

		<tr>
			<th class="cat1">
				<%= link_to "Completes", products_path %>
			</th>
			<th>
				<%= link_to image_tag("sailor22.png", :height => 75, :width => 75), products_path %>
			</th>
		</tr>
		<tr>
			<th class="cat2">
				<%= link_to "Decks", products_path %>
			</th>
			<th>
				<%= link_to image_tag("deck22.png", :height => 75, :width => 75), products_path %>
			</th>
		</tr>
		<tr>
			<th class="cat3">
				<%= link_to "Hardware", products_path %>
			</th>
			<th>
				&nbsp;<%= link_to image_tag("trucks.png", :height => 70, :width => 70), products_path %>
			</th>
		</tr>
		<tr>
			<th class="cat4">
				<%= link_to "Lifestyle", products_path %>
			</th>
			<th>
				<%= link_to image_tag("backpack.png", :height => 75, :width => 75), products_path %>
			</th>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>

	</tbody>
</table>
